<hello name="{{ name }}"></hello>
<h3>
  Исходные данные:
</h3>
<ul>
  <li>
    JsonService содержит метод getData для получения данных и pushData для их
    условной отправки.
  </li>
  <li>
    getData возвращает JSON с данными измерения счетчика энергии за две недели
  </li>
  <li>
    Данные в виде пары timestamp (ms) и потребленной энергии за последние 15
    минут (файл расположен ./assets/test.json)
  </li>
</ul>

<h3>Задание:</h3>
<p>Изменить тестовый проект, чтобы вместо текста задания выполнял следующие пункты:</p>
<small>Перед выполнением каждого пункта сделать оценку сколько он может занять
  времени. Засечь время и записать сколько времени понадобилось по факту.</small>
<ul>
  <li>Получить данные getData.</li>
  <li>Вывести название счетчика meterName (см исходные данные)</li>
  <li>Вывести название канала данных channelName (см исходные данные)</li>
  <li>
    Показать кнопку, по нажатию которой находится час, когда было использовано
    максимум электричества (ответ отпраляется в метод pushData)
  </li>
  <li>
    Показать кнопку, по нажатию которой находится день, когда было использовано
    минимум электричества (ответ отпраляется в метод pushData)
  </li>
  <li>
    Показать кнопку, по нажатию которой вместо этой кнопки будет показана
    среднечасовая использованная энергия
  </li>
</ul>

P.S. Стараться сделать как можно больше пунктов, и как можно более "красиво"
(Главное не скорость выполнения задания и не количество строк кода, а легкость
его восприятия)
